body {
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #a9c8f7;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px #ccc;
}

table {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #3352db;
    color: white;
}

td:first-child {
    font-weight: bold;
}

@media (max-width: 600px) {
    table {
        width: 100%;
        font-size: 14px;
    }

    th,
    td {
        padding: 8px;
    }
}